footer {
  text-align: center;
  /* background: url("https://wallpaperaccess.com/full/1425559.jpg"); */
  background: hsl(347, 100%, 95%);
  padding: 40px 0;
}

footer img {
  width: 100px;
}

.copyright {
  color: rgb(112, 38, 8);
  font-size: 13px;
  margin-top: 20px;
}
