footer {
  text-align: center;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzZmLzP0ziOa9OdkLJtED2RpErsAxDCTUV8g&usqp=CAU");
  padding: 40px 0;
}

footer img {
  width: 100px;
}

.copyright {
  color: rgb(112, 38, 8);;
  font-size: 13px;
  margin-top: 20px;
}
